* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
}

.container .contact {
  margin-top: 40px;
  margin-bottom: -50px;
}

.container .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container .row .container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.container .row .container1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

.container .row .container1 form input,
.container .row .container1 form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  outline: none;
  border: 0px;
  border-bottom: 2px solid rgb(210, 209, 209);
}

.container .row .container1 form input:focus,
.container .row .container1 form textarea:focus {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  outline: none;
  border: 0px;
  border-bottom: 2px solid rgb(5, 182, 209);
}

.container .row .container1 button.add {
  padding: 10px 30px;
  outline: none;
  border-radius: 25px;
  margin-top: 20px;
  border: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  background-color: rgb(209, 22, 75);
}

.container .row .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
