*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container1 .row1{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container1 .row1 .main1{
    display: flex;
    width: 90%;
    margin-left: -20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container1 .row1 .main2{
    display: flex;
    width: 50%;
    padding: 40px 0;
    margin-left: 20px;
    background-color: rgb(246, 246, 246);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container1 .row1 .main2 ul{
    list-style: none;
}